<template name="addField">
  {{#if showCreateDialog}}
    {{> createDialog}}
  {{/if}}
    <div class="navbar bg-outer">
        <div class="navbar-inner">
          <div class="container">
            <input type="submit" value="{{_ "goBack"}}" class="btn btn-success btn-sm" onclick="Session.set('fieldsMenuOption', 'main');" id='goBackAddFieldButton'/>
          </div>
        </div>
    </div>

    <div class="bg-outer">
      {{#if addFieldStepIs "firstStep"}}
        <div id="message"> {{_ "findLocationMessage"}} <input type="submit" value="{{_ "start"}}" class="btn btn-success btn-sm" onclick="Session.set('addFieldStep', 'secondStep');" id='addFieldStartButton'/></div>
      {{/if}}
      {{#if addFieldStepIs "secondStep"}}
        <div id="message"> {{_ "tapMapMessage"}}</div>
      {{/if}}
      {{#if addFieldStepIs "thirdStep"}}
        <div id="message"> {{_ "tapMapMessage"}} <input type="submit" value="{{_ "clear"}}" class="btn btn-default btn-sm" onclick="window.ZhiHuiFarmUI.clearMap();" id='addFieldClearButton'/></div>
      {{/if}}
      {{#if addFieldStepIs "fourthStep"}}
        <div id="message"> {{_ "tapOriginalMessage"}} <input type="submit" value="{{_ "clear"}}" class="btn btn-default btn-sm" onclick="window.ZhiHuiFarmUI.clearMap();" id='addFieldClearButton'/></div>
      {{/if}}
      {{#if addFieldStepIs "fifthStep"}}
        <div id="message"> {{_ "dragPointsMessage"}} <input type="submit" value="{{_ "clear"}}" class="btn btn-default btn-sm" onclick="window.ZhiHuiFarmUI.clearMap();" id='addFieldClearButton'/> <input type="submit" value="{{_ "done"}}" class="btn btn-primary btn-sm" onclick="window.ZhiHuiFarmUI.doneMap();" id='addFieldDoneButton'/></div>
      {{/if}}

        {{> map}}    
    </div>
</template>