<template name="dashboard">
	{{#if menuOptionIs "menu"}}
	  <div class="container">
	      <div class="row">
	          <div class="col-md-12">
	              <div class="wrap" id='menu'>
	                  <p class="form-title">
	                      {{_ "menu"}}</p>
	                  <form class="login">
	                  <input type="submit" value="{{_ "fields"}}" class="btn btn-success btn-sm" id='fieldsButton'/>
	                  <input type="submit" value="{{_ "logs"}}" class="btn btn-success btn-sm"  id='logs'/>
	                  <input type="submit" value="{{_ "experts"}}" class="btn btn-success btn-sm"  id='experts'/>
	                  <input type="submit" value="{{_ "consultants"}}" class="btn btn-success btn-sm"  id='consultantsReports'/>
	                  <input type="submit" value="{{_ "logout"}}" class="btn btn-success btn-sm" id='logout'/>
	                  </form>
	              </div>
	          </div>
	      </div>
	  </div>
    {{/if}}
	{{#if menuOptionIs "fields"}}
		{{> fields}}
    {{/if}}

</template>