<template name="editActivities">
  {{#if beingEditedIs "AddActivities" }}
    {{> AddActivities}}
  {{/if}}

  <div class="bg-outer">
    <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <input type="submit" value="{{_ "goBack"}}" class="btn btn-success btn-sm" onclick="Session.set('beingEditedOption', 'main');"/>
                <!--<div class="nav pull-right">
                  <input type="submit" value="{{_ "save"}}" class="btn btn-success btn-sm" onclick="window.ZhiHuiFarmUI.saveActivities();"/>
                </div>-->
          </div>
        </div>
    </div>

        <div class="form-group">
          <label for="sel1">{{_ "activitiesList"}}:</label>
          <select class="form-control" id="cropsYearsSelectList" onchange="window.ZhiHuiFarmUI.CropsYearsSelectListChanged(this.value)">
            {{#each cropsYears}}
               <option value="{{index}}">{{name}} -- {{year}}</option>
            {{/each}}
          </select>
          <div class="nav pull-right">
            <input type="submit" value="{{_ "add"}}" class="btn btn-success btn-sm" onclick="window.ZhiHuiFarmUI.addActivity();"/>
          </div>
        </div><br>
        {{#if isActivitiesZero}}
            <label id="activitiesList">{{_ "noLoggedActivities"}}<br><br><br></label>
        {{else}}
         <table class="table table-hover">
            <thead>
              <tr>
                <th>{{_ "date"}}</th>
                <th>{{_ "activities"}}</th>
                <th>{{_ "performer"}}</th>
              </tr>
            </thead>
            <tbody>
              {{#each activitiesList}}
                <tr>
                  <td>{{date}}</td>
                  <td>{{activity}}</td>
                  <td>{{performer}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
  </div>

</template>

