<template name="editField">
 
  {{> editFieldDialog}}
  {{> deleteFieldDialog}}

    <div class="navbar bg-outer">
        <div class="navbar-inner">
          <div class="container">
            <input type="submit" value="{{_ "goBack"}}" class="btn btn-success btn-sm" onclick="Session.set('beingEditedOption', 'main');"/>
                <div class="nav pull-right">
                  <input type="submit" value="{{_ "delete"}}" class="btn btn-danger btn-sm" onclick="$('#deleteDialogModal').modal('show');"/>
                </div>            
          </div>
        </div>
    </div>
    <div class="bg-outer">
        <div id="message"> {{_ "dragPointsMessage"}} <input type="submit" value="{{_ "clear"}}" class="btn btn-default btn-sm" onclick="window.ZhiHuiFarmUI.clearMap();" id='addFieldClearButton'/> <input type="submit" value="{{_ "done"}}" class="btn btn-primary btn-sm" onclick="window.ZhiHuiFarmUI.doneMap();" id='addFieldDoneButton'/></div>

        {{> map}}    
    </div>
</template>