<template name="editActivities">
  <div class="bg-outer">
    <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <input type="submit" value="{{_ "goBack"}}" class="btn btn-success btn-sm" onclick="Session.set('beingEditedOption', 'main');"/>
                <div class="nav pull-right">
                  <input type="submit" value="{{_ "save"}}" class="btn btn-success btn-sm" onclick="window.ZhiHuiFarmUI.saveActivities();"/>
                </div>
          </div>
        </div>
    </div>

Test
 
  </div>
</template>

