<template name="fields">
  {{#if fieldsMenuOptionIs "main"}}
    <div class="navbar bg-outer">
        <div class="navbar-inner">
          <div class="container">
            <input type="submit" value="{{_ "goBack"}}" class="btn btn-success btn-sm" onclick="Session.set('menuOption', 'menu');" id='goBackButton'/>
            <div class="nav pull-right">
                <input type="submit" value="{{_ "addField"}}" class="btn btn-success btn-sm" onclick="window.ZhiHuiFarmUI.addField()" id='addFieldButton'/>
            </div>
          </div>
        </div>
    </div>

    <div class="bg-outer">
    {{#if isParties}}
      <div class="container">
        <div class="panel panel-default">
          <table class="table table-hover">
            <tbody>
            {{#each fields}}
              {{> field}}
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{else}}
       {{_ "noFieldMessage"}}
    {{/if}}  
    </div>
  {{/if}}
  {{#if fieldsMenuOptionIs "add"}}
    {{> addField}}
  {{/if}}
  {{#if fieldsMenuOptionIs "view"}}
    {{> viewField}}
  {{/if}}
</template>
<template name="field">
 <tr>
    <td>
      {{title}}， {{calculateArea boundary}} {{_ "hectare"}}
    </td>
    <td class="text-right text-nowrap">
      <button class="btn btn-xs btn-primary" onclick="window.ZhiHuiFarmUI.viewField('{{_id}}');">{{_ "view"}}</button>
    </td>
  </tr>
</template>
