<template name="fields">
  <!--{{#if showCreateDialog}}
    {{> createDialog}}
  {{/if}}

  {{#if showInviteDialog}}
    {{> inviteDialog}}
  {{/if}}-->
  {{#if fieldsMenuOptionIs "main"}}
    <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <input type="submit" value="{{_ "goBack"}}" class="btn btn-success btn-sm" onclick="Session.set('menuOption', 'menu');" id='goBackButton'/>
            <div class="nav pull-right">
                <input type="submit" value="{{_ "addField"}}" class="btn btn-success btn-sm" onclick="Session.set('fieldsMenuOption', 'add');Session.set('addFieldStep', 'firstStep');" id='addFieldButton'/>
            </div>
          </div>
        </div>
    </div>

    <div class="bg-outer">
    {{#if isParties}}
      <div class="container">
        <div class="panel panel-default">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>
                  <span class="glyphicon glyphicon-file"></span>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </td>
                <td class="text-right text-nowrap">
                  <button class="btn btn-xs btn-primary">View</button>
                  <button class="btn btn-xs btn-warning">Edit</button>
                  <button class="btn btn-xs btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    {{else}}
       You have no field. Please use the Add tool to add fields. 
    {{/if}}  
    </div>
  {{/if}}
  {{#if fieldsMenuOptionIs "add"}}
    {{> addField}}
  {{/if}}
  {{#if fieldsMenuOptionIs "view"}}
    {{> viewField}}
  {{/if}}
  {{#if fieldsMenuOptionIs "edit"}}
    {{> editField}}
  {{/if}}

<!--
  <div class="container-fluid">
    <div class="row-fluid">-->
<!--
<ul class="list-group">
  <li class="list-group-item">First item</li>
  <li class="list-group-item">Second item</li>
  <li class="list-group-item">Third item</li>
</ul>-->
<!--
      <div class="span4">
        {{> details}}
        {{#if currentUser}}
        <div class="pagination-centered">
          <em><small>Double click the map to post a party!</small></em>
        </div>
        {{/if}}
      </div>
      <div class="span8">
        {{#if currentUser}}
          {{> map}}
        {{/if}}
      </div> -->
<!--    </div>
  </div>-->
</template>