<template name="ForgotPassword">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="wrap">
                  <p class="form-title">
                      {{_ "forgetPassword"}}</p>
                  <form class="login" action="/forgot" id="forgotPasswordForm" method="post">
                  <input type="text" placeholder="{{_ "email"}}" id="forgotPasswordEmail" name="email"/>
                  <input type="submit" value="{{_ "send"}}" class="btn btn-success btn-sm" id='submitSignupButton' />
                  <input type="submit" value="{{_ "cancel"}}" class="btn btn-success btn-sm" onclick="Session.set('loadingPageOption', 'SignIn');" />

                  </form>
              </div>
          </div>
      </div>
  </div>
</template>

