<template name="login">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="wrap">
                  <p class="form-title">
                      {{_ "smartFarm"}}</p>
                  <form class="login">
                  <input type="text" placeholder="{{_ "email"}}" id="login-email"/>
                  <input type="password" placeholder="{{_ "password"}}" id="login-password"/>
                  <input type="submit" value="{{_ "signin"}}" class="btn btn-success btn-sm" />
                  <div class="remember-forgot">
                      <div class="row">
                          <div class="col-md-6 forgot-pass-content">
                              <a href="javascription:void(0)" class="forgot-pass" id='signupButton'>{{_ "signup"}}</a>
                          </div>                        
                      </div>
                  </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</template>