<template name="SignUp">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="wrap">
                  <p class="form-title">
                      {{_ "pleaseSignup"}}</p>
                  <form class="login" action="/sign-up" id="signUpForm" method="post">
                  <input type="text" name="email" placeholder="{{_ "email"}}" id="signUpEmail"/>
                  <input type="password" placeholder="{{_ "password"}}" id="signUpPassword"/>
                  <input type="password" placeholder="{{_ "password"}}" id="signUpPasswordConfirm"/>
                  <input type="submit" value="{{_ "signup"}}" class="btn btn-success btn-sm" id='submitSignupButton' />
                  <input type="submit" value="{{_ "cancel"}}" class="btn btn-success btn-sm" id='cancelSignupButton'  onclick="Session.set('loadingPageOption', 'SignIn');"/>
                  </form>
              </div>
          </div>
      </div>
  </div>
</template>
