<template name="signup">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="wrap">
                  <p class="form-title">
                      {{_ "pleaseSignup"}}</p>
                  <form class="login">
                  <input type="text" placeholder="{{_ "email"}}" id="signup-email"/>
                  <input type="password" placeholder="{{_ "password"}}" id="signup-password1"/>
                  <input type="password" placeholder="{{_ "password"}}" id="signup-password2"/>
                  <input type="submit" value="{{_ "signup"}}" class="btn btn-success btn-sm" id='submitSignupButton' />
                  <input type="submit" value="{{_ "cancel"}}" class="btn btn-success btn-sm" id='cancelSignupButton' />
                  </form>
              </div>
          </div>
      </div>
  </div>
</template>