<template name="viewField">
  {{#if beingEditedIs "Field" }}
    {{> editField}}
  {{/if}}
  {{#if beingEditedIs "Crops" }}
    {{> editCrops}}
  {{/if}}
  {{#if beingEditedIs "Activities" }}
    {{> editActivities}}
  {{/if}}

  {{#if beingEditedIs "main" }}
  <div class="bg-outer">
      <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <input type="submit" value="{{_ "goBack"}}" class="btn btn-success btn-sm" onclick="Session.set('fieldsMenuOption', 'main');" id='goBackButton'/>
              {{#if isPartyOwner}}
                  <div class="nav pull-right">
                    <input type="submit" value="{{_ "edit"}}" class="btn btn-success btn-sm" onclick="Session.set('beingEditedOption', 'Field');"/>
                  </div>
              {{/if}}
            </div>
          </div>
      </div>

     <center>
     <h3>{{title}}</h3><br>
     {{calculateArea}} {{_ "hectare"}}
  <div class="panel panel-primary">
     <div class="panel-heading">
        <h3 class="panel-title">{{_ "temperature"}}</h3>
     </div>
     <div class="panel-body">
        {{_ "realtime"}}: 15°C <input type="submit" value="{{_ "hours36"}}" class="btn btn-success btn-sm" onclick=""/> <input type="submit" value="{{_ "days3"}}" class="btn btn-success btn-sm" onclick=""/>
        <input type="submit" value="{{_ "growingSeason"}}" class="btn btn-success btn-sm" onclick=""/> <input type="submit" value="{{_ "nextSeason"}}" class="btn btn-success btn-sm" onclick=""/>
     </div>
  </div>
  <div class="panel panel-success">
     <div class="panel-heading">
        <h3 class="panel-title">{{_ "rainfall"}}</h3>
     </div>
     <div class="panel-body">
        {{_ "realtime"}}: 15mm <input type="submit" value="{{_ "hours36"}}" class="btn btn-success btn-sm" onclick=""/> <input type="submit" value="{{_ "days3"}}" class="btn btn-success btn-sm" onclick=""/>
        <input type="submit" value="{{_ "growingSeason"}}" class="btn btn-success btn-sm" onclick=""/> <input type="submit" value="{{_ "nextSeason"}}" class="btn btn-success btn-sm" onclick=""/>
     </div>
  </div>
  <div class="panel panel-info">
     <div class="panel-heading">
        <h3 class="panel-title">{{_ "soil"}}</h3>
     </div>
     <div class="panel-body">
        {{_ "realtime"}}: 15mm <input type="submit" value="{{_ "hours36"}}" class="btn btn-success btn-sm" onclick=""/> <input type="submit" value="{{_ "days3"}}" class="btn btn-success btn-sm" onclick=""/>
        <input type="submit" value="{{_ "growingSeason"}}" class="btn btn-success btn-sm" onclick=""/> <input type="submit" value="{{_ "nextSeason"}}" class="btn btn-success btn-sm" onclick=""/>
     </div>
  </div>
  <div class="panel panel-warning">
     <div class="panel-heading">
        <h3 class="panel-title">{{_ "crops"}}</h3>
     </div>
     <div class="panel-body">
        {{#if isCropsZero}}
          <input type="submit" value="{{_ "add"}}" class="btn btn-success btn-sm" onclick="window.ZhiHuiFarmUI.editCrops();"/>
        {{else}}
          <input type="submit" value="{{_ "edit"}}" class="btn btn-success btn-sm" onclick="window.ZhiHuiFarmUI.editCrops();"/>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{_ "crops"}}</th>
                <th>{{_ "year"}}</th>
              </tr>
            </thead>
            <tbody>
              {{#each cropsListInThisYear}}
                <tr>
                  <td>{{name}}</td>
                  <td>{{year}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
     </div>
  </div>
  <div class="panel panel-danger">
     <div class="panel-heading">
        <h3 class="panel-title">{{_ "activities"}}</h3>
     </div>
     <div class="panel-body">
         {{_ "thisYearHas"}}{{activitiesInThisYear}}{{_ "activities"}}

        {{#if isActivitiesZero}}
          <input type="submit" value="{{_ "add"}}" class="btn btn-success btn-sm" onclick="window.ZhiHuiFarmUI.editActivities();"/>
        {{else}}
          {{_ "latest"}}: {{latestActivityName}} {{_ "on"}} {{latestActivityDate}} {{_ "by"}} {{latestActivityPerformer}} <input type="submit" value="{{_ "edit"}}" class="btn btn-success btn-sm" onclick="window.ZhiHuiFarmUI.editActivities();"/>
        {{/if}}
     </div>
  </div>
  <div class="panel panel-warning">
     <div class="panel-heading">
        <h3 class="panel-title">{{_ "yield"}}</h3>
     </div>
     <div class="panel-body">
        {{#if isYieldsZero}}
          <input type="submit" value="{{_ "add"}}" class="btn btn-success btn-sm" onclick="window.ZhiHuiFarmUI.editCrops();"/>
        {{else}}
          {{yieldsList}}<input type="submit" value="{{_ "edit"}}" class="btn btn-success btn-sm" onclick="window.ZhiHuiFarmUI.editCrops();"/>
        {{/if}}
     </div>
  </div>  
      {{#if isPartyOwner}}
        <div class="panel panel-primary">
           <div class="panel-heading">
              <h3 class="panel-title">{{_ "fieldStaffs"}}</h3>
           </div>
           <div class="panel-body">
            {{#if isStaffsZero}}
              <input type="submit" value="{{_ "add"}}" class="btn btn-success btn-sm" onclick="window.ZhiHuiFarmUI.editStaffs();"/>
            {{else}}
              {{activitiesList}}<input type="submit" value="{{_ "edit"}}" class="btn btn-success btn-sm" onclick="window.ZhiHuiFarmUI.editStaffs();"/>
            {{/if}}
           </div>
        </div>
     {{/if}}

    </center>
      </div>
  {{/if}}
</template>