<template name="viewField">
  {{#if fieldsMenuOptionIs "view"}}
    <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <input type="submit" value="{{_ "goBack"}}" class="btn btn-success btn-sm" onclick="Session.set('fieldsMenuOption', 'main');" id='goBackButton'/>
            {{#if isPartyOwner}}
                <div class="nav pull-right">
                  <input type="submit" value="{{_ "edit"}}" class="btn btn-success btn-sm" onclick="Session.set('fieldsMenuOption', 'edit');" id='editFieldButton'/>
                </div>
            {{/if}}
          </div>
        </div>
    </div>

   <div class="bg-outer"><center>
   <h3>{{title}}</h3><br>
   {{calculateArea boundary}} {{_ "hectare"}}
<div class="panel panel-primary">
   <div class="panel-heading">
      <h3 class="panel-title">{{_ "rainfall"}}</h3>
   </div>
   <div class="panel-body">
      This is a Basic panel
   </div>
</div>
<div class="panel panel-success">
   <div class="panel-heading">
      <h3 class="panel-title">{{_ "temperature"}}</h3>
   </div>
   <div class="panel-body">
      This is a Basic panel
   </div>
</div>
<div class="panel panel-info">
   <div class="panel-heading">
      <h3 class="panel-title">{{_ "soil"}}</h3>
   </div>
   <div class="panel-body">
      This is a Basic panel
   </div>
</div>
<div class="panel panel-warning">
   <div class="panel-heading">
      <h3 class="panel-title">{{_ "crops"}}</h3>
   </div>
   <div class="panel-body">
      This is a Basic panel
   </div>
</div>
<div class="panel panel-danger">
   <div class="panel-heading">
      <h3 class="panel-title">{{_ "activities"}}</h3>
   </div>
   <div class="panel-body">
      This is a Basic panel
   </div>
</div>  </center>
    </div>
  {{/if}}
  {{#if fieldsMenuOptionIs "edit"}}
    {{> editField}}
  {{/if}}

<!--
  <div class="container-fluid">
    <div class="row-fluid">-->
<!--
<ul class="list-group">
  <li class="list-group-item">First item</li>
  <li class="list-group-item">Second item</li>
  <li class="list-group-item">Third item</li>
</ul>-->
<!--
      <div class="span4">
        {{> details}}
        {{#if currentUser}}
        <div class="pagination-centered">
          <em><small>Double click the map to post a party!</small></em>
        </div>
        {{/if}}
      </div>
      <div class="span8">
        {{#if currentUser}}
          {{> map}}
        {{/if}}
      </div> -->
<!--    </div>
  </div>-->
</template>